.App {
  text-align: center;
  align-items: center;
}
.Box {
  justify-content: center;  
}
body {
  background-color: #FFF2AC;
  text-align: center;
}
div {
  width: 800px;
  height: stretch;
  column-count: 1;
  justify-content: center;
  background-color: white;
  margin: auto;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
