.App {
  text-align: center;
}
body {
  background-color: #FFF2AC;
}
div {
  width: fit-content;
  height: fill;
  column-count: 1;
  justify-content: center;
  background-color: white;
  margin: auto;
  font-family: Verdana, Tahoma, sans-serif;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
